header{
    display: flex;
    justify-content: space-between;
    height: 5.125em;
    align-items: center;

}
.leftHeader{
    display: flex;
}
.rightHeader{
    display: flex;
}
.rightHeader div{
    padding: 0 1em;
}

